@font-face {
    font-family: 'Ubuntu-Bold';
    src: url("../fonts/Ubuntu-Bold.ttf") format('truetype');
    font-size: 22px;
}

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url("../fonts/Ubuntu-Regular.ttf") format('truetype');
    font-size: 14px;
}

body {
    color: white;
    font-family: 'Ubuntu-Regular', sans-serif;
    line-height: 14px;
}

.wrapper {
    width: 100%;
    background-image: url("../resources/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    flex-direction: column;
}

a,
.btn,
.submit-btn,
.icons a path,
.nav-icons::after,
.checkmark,
.check-terms a:hover {
    transition: 0.2s all ease-in-out;
}

.nav-icons,
.auth-box,
.btn-title-fb,
.btn.facebook,
.btn.google,
.check-terms{
    position:relative;
}


.nav-icons::after,
.title::before,
.btn.facebook::after,
.btn.google::after,
.checkbox,
.checkmark,
.checkmark::after {
    position: absolute;
}

input,
.checkbox,
.check-terms,
.submit-btn {
cursor:pointer;

}

.flex {
    display: flex;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-ai-c {
    align-items: center;
}

/*Header styles*/


header {
    flex: 0 0 auto;
}

.header {
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header a:hover {
    color: #236C47;
}

.logo {
    text-transform: uppercase;
    font-family: 'Ubuntu-Bold', sans-serif;
    font-size: 22px;
    line-height: 22px;
    padding-left: 79px;
}

.nav-icons {
    padding-right: 79px;
    font-size: 14px;
}

.nav-icons a:not(:first-child) {
    margin-left: 24px;
}

.icons {
    margin-right: 48px;
}


.icons a:hover path {
    cursor: pointer;
    fill: #236C47;
}

.nav-icons::after {
    content: " ";
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    height: 19px;
    left: 145px;
    mix-blend-mode: normal;
    opacity: 0.5;
}



/*Main styles*/

main {
    flex: 1 0 auto;
    justify-content: center;
}


.auth-box {
    padding: 31px 60px 38px;
    width: 444px;
    background-color: white;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 74px;
    -webkit-font-smoothing: antialiased;
}

.title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #434343;
}

.title::before {
    content: "";
    left: 0;
    top: 33px;
    height: 18px;
    width: 18px;
    background-color: #3CB878;
}

.title-login {
    font-size: 14px;
    color: #3CB878;
    padding-top: 5px;
}

.title-underline:hover {
    text-decoration: #01813F underline;
    color: #01813F;
}

.social-buttons {
    margin-top: 15px;
    margin-bottom: 34px;
}

.btn {
    font-size: 16px;
    line-height: 16px;
    color: white;
    border-radius: 4px;
    display: inline-block;
}

.btn:hover {
    color: white;
    text-decoration: none;
}

.btn.facebook {
    background-color: #305DB8;
    padding: 16px 22px 16px 12px;
    margin-right: 6px;
}

.btn.facebook::after {
    content: "";
    border-left: 1px solid #0A162F;
    height: 28px;
    opacity: 0.1;
    top: 9px;
    left: 49px;
}

.fa-facebook-f:before{
    padding-left: 2px;
}

.btn.facebook:hover {
    background-color: #022263;
}

.btn-title-fb {
    padding-left: 32px;
}

.btn.google {
    background-color: #DF4A32;
    padding: 16px 20px 16px 14px;
}

.btn.google::after {
    content: "";
    border-left: 1px solid #2B0D09;
    height: 28px;
    opacity: 0.1;
    top: 9px;
    left: 49px;
}

.btn.google:hover {
    background-color: #AB1F09;
}

.fa-google-plus-g {
    margin-right: 38px;
}

.form {
    margin: 0 auto;
}

.field-label {
    width:100%;
    position: relative;
    justify-content: center;
}

.field-label::before {
    content: " ";
    display: block;
    position: absolute;
    top: 60%;
    width: 100%;
    border-top: 1px solid #F2F2F2;
}

.form-separator {
    z-index: 1;
    padding: 0 5px;
    background: #fff;
}

.field-label {
    color: rgba(132, 132, 132, 1);
    text-align: center;
    margin-bottom: 12px;
}

input {
    display: block;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
}

input:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    color: rgba(67, 67, 67, 1);
    padding-left: 20px;
}

input::placeholder {
    color: rgba(190, 190, 190, 1);
    padding-left: 20px;
}

.check-terms {
    color: rgba(67, 67, 67, 1);
    padding-left: 30px;

}

.checkbox {
    opacity: 0;
    height: 0;
    width: 0;
}

.checkmark  {
    top: 0;
    left: 0;
    height:20px;
    width: 20px;
    background-size: contain;
    border: 1px solid #F2F2F2;

}

.check-terms input:checked~.checkmark {
    background-image: url("../resources/checkmark.png");

}

.check-terms:hover input~.checkmark {
    background-image: url("../resources/checked.png");
}

.terms-underline {
    color: #3CB878;
    padding-bottom: 3px;
}

.terms-underline:hover {
    color: #01813F;
    border-bottom: 1px solid #01813F;
}


.submit-btn {
    background-color: #3CB878;
    color: white;
    margin-top: 22px;
    text-align: center;
}

.submit-btn:hover {
    box-shadow: none;
    color: white;
    padding-left: 0;
    background-color: #01813F;
}

.submit-btn {
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    width:100%;
    height: 46px;
}
